<div class="themedec">
  <div id="<%= dom_id project %>">
    <h4>
      <strong>Theme:</strong>
      <%= project.name %>
    </h4>
    <h4>
      <strong>Description:</strong>
      <%= project.description %>
    </h4>
  </div>
</div>
