<div class="card">
  <div class="card-header">
    <h1>New messenger</h1>
  </div>
  <div class="card-body">
    <%= render "form", sm: @sm %>
    <br>
    <%= link_to "Back to messenger", sms_path %>
  </div>
</div>