<div class="card">
  <div class="card-header">
  <%= render @sm %>
  </div>
  <div class="card-bady">
    <%= link_to "Edit this Messenge", edit_sm_path(@sm) , class:"editslinks" %> | |
    <%= link_to "Back to Messages", msg_path(@msg) ,class:"editslinks" %>

    <%= button_to "Destroy this messenge", @sm, method: :delete , class:"btn btn-danger me-md-2 btn-hover" %>
  </div>
</div>